* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 3rem;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#file {
  display: none;
}
#path {
  border-radius: 10px;
  outline: none;
  border: navajowhite;
  padding: 10px;
  text-align: center;
}
.App > div {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
  padding: 1rem;
  justify-content: center;
  height: 100%;
}

#upload {
  background-color: #abe0ff;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#save {
  padding: 10px 15px;
  background-color: #caffca;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.stores {
  display: flex;
  gap: 1rem;
}
.stores > * {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
